.article-head {
  text-align: center;

  .tag-list {
    
  }
}

.article-date {
  color: #AAA;
  font-size: .9em;
}

.article-contents {
  margin-top: 40px;
  line-height: 2rem;

  .hljs {
    line-height: 1em;
  }
}

h2 {
  margin-bottom: 2px;
}