@import "variables";

body {
    font-family: "Source sans Pro", sans-serif;
}

p, .contents > ul {
    line-height: 2.2rem;
    font-size: 1.3rem;
    font-family: "Source Serif Pro", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

img {
    width: 100%;
}

.navbar {
    margin-bottom: 60px;
}

.content-container {
    @extend .container;

    .contents {
        @extend .p-2;
    }
}

.game {

    .head {
        @extend .p-2;
        @extend .col;
        @extend .col-md-10;
        @extend .mx-auto;
        text-align: center;
        margin-bottom: 60px;

        h1, h2 {
            font-weight: 300;
        }

        .meta {

        }
    }

    .contents {
        @extend .p-2;
        @extend .col;
        @extend .col-md-10;
        @extend .mx-auto;
    }
}