@import "variables";
@import "colors";

body {
    font-family: "Source sans Pro", sans-serif;
}

p {
    line-height: 2.2rem;
    font-size: 1.3rem;
    font-family: "Source Serif Pro", sans-serif;
}

.navbar {
    margin-bottom: 60px;

    .navbar-nav {
        @extend .ml-auto;
    }
}

.content-container {
    @extend .container;

    .contents {
        @extend .p-2;
    }
}

.article {

    .head {
        @extend .p-2;
        @extend .col;
        @extend .col-md-10;
        @extend .mx-auto;
        text-align: center;
        margin-bottom: 60px;

        h1, h2 {
            font-weight: 300;
        }

        .meta {

        }
    }

    .contents {
        @extend .p-2;
        @extend .col;
        @extend .col-md-10;
        @extend .mx-auto;

        .highlight {
            @extend .p-3;
        }
    }
}