<!DOCTYPE html>
<html>
{{> head }}
<body>
  {{> navbar }}
  <div class="max-width-3 mx-auto">
    <div class="clearfix">
      <div class="article-head">
        <h1 class="title">{{title}}</h1>
        <time class="article-date">{{date date}}</time>
        <span class="tag-list clearfix">
          {{#each tags}}
            <a href="/tags/{{this}}.html">#{{this}}</a>
          {{/each}}
        </span>
      </div>
      <div class="article-contents">
        {{{contents}}}
      </div>
    </div>
  </div>
</body>
</html>