<!DOCTYPE html>
<html>
  <% include ../_partials/head.ejs %>
  <body ng-app="app">
    <% include ../_partials/navbar.ejs %>
    <div class="container">
      <div id="article-container">
        <div id="article">
          <div id="article-header">
            <time datetime="<%- date %>" id="article-date"></time>
            <h1><%- title %></h1>
            <span id="article-subtitle"><%- subtitle %></span>
          </div>
          <div id="article-body">
            <%- contents %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
