---
layout: default
---

<div class="game">
    <div class="row">
        <div class="head">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
    <div class="row">
        <div class="contents">
            {% for platform in page.platforms %}
                <h1>{{ platform.title }}</h1>
                {% for layout in platform.layouts %}
                    <h3>{{ layout.title }}</h3>
                        {% for key in layout.keys %}
                            {% for action in key[1] %}
                                    <div class="card" style="width: 20rem;margin:10px 0;">
                                        <div class="card-block">
                                            {{ key[0] }} - {{ action }}
                                        </div>
                                    </div>
                            {% endfor %}
                        {% endfor %}
                {% endfor %}
            {% endfor %}
            {{ page.content }}
        </div>
    </div>
</div>
